[submodule "anchor-vault"]
	path = anchor-vault
	url = https://github.com/ChiefAnthony/anchor-vault.git
[submodule "solana-escrow"]
	path = solana-escrow
	url = https://github.com/ChiefAnthony/solana-escrow.git
